.AttractionInfoContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /*grid-template-rows: repeat(2, 1fr);*/
    grid-template-rows: 1fr 2fr;
    column-gap: 15px;
    row-gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.AttractionInfoWaitTime {
    grid-row: 1;
    grid-column: 1;
    /*padding: 2rem;*/
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}
.open{
    background: radial-gradient(
            rgb(92, 153, 211),
            rgb(0, 130, 255)
    );
}
.closed{
    background: radial-gradient(
            rgba(246, 90, 94, 0.87),
            rgba(243, 0, 5, 0.75)
    );

}
.AttractionInfo {
    grid-row: 1;
    grid-column: 2;
    background: linear-gradient(
            to bottom,
            rgba(182, 182, 182, 0.43),
            rgba(76, 76, 76, 0.2)
    );
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    min-width: 300px;

}
.AttractionInfoGraph {
    grid-row: 2;
    grid-column: 1/3;
    border : 1px solid rgb(182, 182, 182);
    border-radius: 2rem;
    background-color: #191919;
    padding: 15px;
}