.Card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    height: 100%;
    /*aspect-ratio: 6/2;*/
    min-width: 400px;
}

.Card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(124, 167, 237, 0.4), 0 6px 20px 0 rgba(207, 207, 207, 0.92);
}

.name {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(
            to bottom,
            rgba(129, 129, 129, 0.1),
            rgba(18, 20, 34, 0.8)
    );

}

.poster img {
    width: 95%;
    height: 95%;
    object-fit: contain;
}

.statusOpen {
    padding: 0;
    background: linear-gradient(
            to bottom,
            rgba(74, 241, 131, 0.50),
            rgba(0, 143, 48, 0.75)
    );
    grid-row: 2;
    grid-column: 1;
    gap: 0.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.statusOpen p{
    margin: 1rem;
}
.statusClosed {
    padding: 0;
    background: linear-gradient(
            to bottom,
            rgba(246, 90, 94, 0.50),
            rgba(243, 0, 5, 0.75)
    );
    grid-row: 2;
    grid-column: 1;
    gap: 0.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.statusClosed p{
    margin: 1rem;
}

.waitTime {
    grid-row: 1/3;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    /*background: transparent;*/
    background: linear-gradient(
            to right,
            rgb(92, 153, 211),
            rgb(0, 130, 255)
    );
    border-left: 2px solid #CFCFCFEA;
}

.info h3 {
    font-size: 1rem;
    margin: 0;
}

.link{
    all: unset;
}
.waitTime p{
    padding: 0;
    margin: 0;
}

.capitalize {
    text-transform: capitalize;
    padding: 0;
    margin: 10px;
}