:root {
    --SearchFontColor: #737373;
    --ActiveFontColor: #D304ABF;
    --Formbackgroundcolor: #eaeaea;
}

body {
    margin: 0;
    padding: 0;
}

.NavBar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--backgroundcolor);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--SearchFontColor);
}

.NavTitle {
    color: var(--TextFontColor);

}

.NavInteractions {
    display: flex;
    grid-template-columns: auto;
    justify-items: right;
}

.NavForm {

    width: max-content;
    display: flex;
    align-items: center;
    padding: 0.2rem .75rem;
    border-radius: 1rem;
    background-color: var(--Formbackgroundcolor);
}

.NavForm:hover {
    outline: 1px solid var(--ActiveFontColor);
}

.Link {
    display: inline-flex;
    color: var(--TextFontColor);
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.5rem .5rem;
    text-decoration: none;
}

.SearchBar {
    padding: 0.2rem .75rem;
    outline: none;
    border: none;
    background: transparent;
    color: var(--SearchFontColor);
}

.SearchBar::placeholder {
    color: var(--SearchFontColor);
}
.SearchIcon{
    color: var(--SearchFontColor);
}


.NavSearch-Button {
    background-color: var(--Formbackgroundcolor);
    color: var(--SearchFontColor);
    box-shadow: 0.05rem 0.05rem 0.05rem rgba(182, 196, 227, 0.49);
    padding: .25rem .25rem;
    border-radius: .25rem;
    border: none;
}
.NavSearch-Button:hover {
    color: var(--ActiveFontColor);
}
