.ParkCard {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ParkCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(124, 167, 237, 0.4), 0 6px 20px 0 rgba(207, 207, 207, 0.92);
}

.Park-poster {
    position: relative;
    text-align: center;
    aspect-ratio: 3/2;
    width: 100%;
    background: linear-gradient(
            to bottom,
            rgba(129, 129, 129, 0.1),
            rgba(18, 20, 34, 0.8)
    );
    border-bottom: 2px solid var(--SearchFontColor);
}

.Park-poster img {
    width: 95%;
    height: 95%;
    object-fit: contain;
}

.Park-info {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /*background: transparent;*/
    background: linear-gradient(
            to bottom,
            rgba(98, 127, 174, 0.43),
            rgba(21, 33, 51, 1)
    );
}

.Park-info h3 {
    font-size: 1rem;
    margin: 0;
}