:root {
    --background: #191919;
    --text-color:  rgb(101, 101, 101);
    --active-text-color:  rgb(181, 181, 181);
}

.Graph {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.filterDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
}
.filterDate input {
    background-color: var(--background);
    color: var(--text-color);
    border: none;
    font-size: 1rem;
    padding: 0.25rem 1rem;
    margin: 0.1rem 0.1rem;
    border-radius: 50px;

    &:hover {
        color: var(--active-text-color);
        box-shadow: 0 0 0.2rem 0.1rem var(--active-text-color);
        transition: 0.15s;
        }
}

.filterDate input::-webkit-calendar-picker-indicator{
    filter: invert(1) brightness(45%);

    &:hover{
        filter: brightness(100%);
    }
}

.filterDate div {
    color: var(--text-color);
}

.chart-legend {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding-left: 5px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ccc;
    font-size: 14px;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.dot.openDot { background-color: #308d49; }
.dot.closedDot { background-color: #871013; }